/*-- scss:defaults --*/
// Base document colors
$link-color: #3986C7;
$toc-color: #3986C7;

// Navbar
$navbar-bg: #03579A;

// Code blocks
$code-block-bg-alpha: -.8;

// Code output block
.cell-output {
  border-radius: 4px;
  padding: 10px;
}